/** @type {import('tailwindcss').Config} */
export default {
  content: [
    "./components/**/*.{js,ts,jsx,tsx,vue,svelte}",
    "./shared/**/*.{js,ts,jsx,tsx,vue,svelte}"
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}
